:root {
    --title-text-color: #212121;
    --text-color: #757575;
    --activ-color: #2196F3;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
   }
h1, h2, h3, h4, h5, h6, p, ul, li, a, svg {
    margin: 0;
    padding: 0;
    border: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid orangered; */
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
}
.f-section {
    padding-top: 94px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
.main-nav {
    display: flex;
    align-items: center;
}
.site-nav {
    display: flex;
    margin-left: 93px;
}
.site-nav .item:not(:last-child) {
    margin-right: 50px;
}
.site-nav .link, .auth-nav .link-contakt {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.auth-nav {
    display: flex;
    margin-left: auto;
}
.auth-nav .item + .item {
    margin-left: 50px;
}
.auth-icon {
    fill: #757575;
    vertical-align: middle;
    margin-right: 10px;
}
.auth-icon:hover, .auth-icon:focus {
    fill: var(--activ-color) ;
}
.link-contakt {
    color: var(--text-color);
}
.logo-color-f {
    color: #2196F3;
}
.link:hover, .link:focus {
   color: var(--activ-color);
}
.link-contakt:hover, .link-contakt:focus {
    color: var(--activ-color);
}
.link,
.features-title,
.descripton-title,
.team-title,
.h2-text,
.filter-text,
.portfolio-title {
    color: var(--title-text-color);
}
.link-contakt,
.features-text,
.team-text,
.portfolio-text {
    color: var(--text-color);
}
.logo-text {
display: inline-block;
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
}
.header-border {
    border-bottom: 1px solid rgb(236, 236, 236);
}
.logo-margin-h {
    display: block;
    padding-bottom: 25px;
    padding-top: 24px;
}
.text-header {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.hero, .footer-bg-color {
    background-color: #2F303A;
}
.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto; 
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
}
.hero-title, .btn, .logo-footer {
    color: #FFFFFF;
}
.hero-title {
    margin-bottom: 30px;
}
.hero-text { 
font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-transform: uppercase;
text-align: center;
}
.btn {
 display: block;
 width: 200px;
 height: 50px; 
 background-color: #2196F3;
 margin: 0 auto;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
}
.btn:hover {
    background-color: rgba(24, 140, 232, 1);
}
.btn-text {
    padding: 0;
    align-items: center;
    text-align: center;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    }
.f-svg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 120px;
        background-color: #F5F4FA;
        margin-bottom: 30px;
    }
.f-icon {
        width: 70px;
        height: 70px;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 100px;
    }
.title-text {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.h2-text {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.description-site .item {
    display: flex;
}
.features-list {
    display: flex;
}
.features-list .item {
    width: 270px;
}
.features-list .item:not(:last-child) {
    margin-right: 30px;
}
.features-text, .footer-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.description-site {
    display: flex;
    justify-content: space-between;
}
.description-site .item + .item {
    margin-left: 30px;
}
.team {
    max-width: 1600px;
    background-color:#F5F4FA;
    margin: 0 auto;
}
.team-site {
    display: flex;
    justify-content: center;
}
.team-site .item+.item {
    margin-left: 30px;
}
.team-card {
width: 270px;
background-color: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-descr {
    padding-top: 30px;
    padding-bottom: 30px;
}
.social-link {
    display: flex;
    width: 206px;
    height: 44px;
    margin: 0 auto;
    margin-top: 16px;
}
.social-link .item + .item {
    margin-left: 10px;
}
.s-link:hover, .s-link:focus {
    background-color: rgba(33, 150, 243, 1);
 }
.item .s-link:hover .icon,
.item .s-link:focus .icon {
    fill: rgba(255, 255, 255, 1);
}
.icon {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
}
 .s-link {
     display: flex;
     justify-content: center;
     align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
} 

.portfolio-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.team-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.clients {
    display: flex;
}
 .client-link {
    background-color: #FFFFFF; 
} 
.item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}
.clients .client-link + .client-link {
    margin-left: 30px;
}
.client-logo {
    width: 106px;
    height: 60px;
    fill: currentColor;
}
.item-link:hover,
.item-link:focus {
    border: 1px solid var(--activ-color);
    color: var(--activ-color) ;
}
.contakt-color {
    color: rgba(255, 255, 255, 0.6);
}
.logo-footer {
    color: #FFFFFF;
}
.logo-margin-f {
    display: inline-block;
    margin-bottom: 20px;
}
.f-container {
    display: flex;
}
.f-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}
.address-text {
    font-style: normal;
    color: rgba(255, 255, 255, 1);
}
.address-color {
    color: rgba(255, 255, 255, 1);
}
.contakt-color {
    color: rgba(255, 255, 255, 0.6);
}
.footer-site .item + .item {
    margin-top: 9px;
}
.contact-block {
    width: 231px;
}
.social {
    width: 210px;
    margin-left: 70px;
    padding-top: 8px;
}
.text-color {
    color: #FFFFFF;
    margin-bottom: 20px; 
}
.footer-social {
    display: flex;
}
.social-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);  
}
.social-icon:hover, .social-icon:focus {
    background-color: var(--activ-color);
}
.footer-social .social-icon + .social-icon {
    margin-left: 10px;
}
.icon-fill {
    fill:#FFFFFF ;
}
.filter-text {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}
.portfolio-site {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}
.portfolio-site .item + .item {
    margin-left: 8px;
} 

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-card {
    width: 370px;
    border: 1px solid rgba(238, 238, 238, 1);
    margin-right: 30px;
    margin-bottom: 30px;
}
.portfolio-card:hover, .portfolio-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card:nth-child(3n) {
    margin-right: 0;
}
.portfolio-card:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
.portfolio-btn {
    padding: 6px 22px;
}
.portfolio-btn:hover, .portfolio-btn:focus  {
    background-color: rgba(24, 140, 232, 1);
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-img {
    display: block;
}
.portfolio-descr {
    padding: 20px 24px;
}

